// -----------------------------------------------------------------------------
// This file contains all styles related to the main-section of the site/application.
// -----------------------------------------------------------------------------

.main {
  background-image: url('../uploads/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  @include respond(small-tablets) {
    background-size: cover;
  }

  &-wrapper {
    padding: 19.4rem 0 20.8rem 4rem;
    max-width: 67.6rem;
    @include respond(small-tablets) {
      padding: 5rem 2rem;
    }
    @include respond(small-phone) {
      padding: 8rem 0 0 0;
    }

    &__title-span {
      color: $brand-color;
    }

    &__text {
      font-size: 157.14%;
      line-height: 3.6rem;
      margin: 2.5rem 0;
      @include respond(small-tablets) {
        font-size: 130%;
        br {
          display: none;
        }
      }
      @include respond(small-phone) {
        font-size: 100%;
        margin-bottom: 3rem;
      }
    }
  }
}