// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  background-color: #131313;
  font-size: 78.5%;
  line-height: 1.5rem;

&-wrapper {
  @include respond(regular-desktop) {
    display: flex;
    align-items: center;
  }
}

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8.3rem;
  }

  &-nav-panel__item {
    text-transform: uppercase;
    align-items: center;
    transition: color 0.2s;
    margin-right: 4.7rem;
    @include respond(regular-desktop) {
      margin: 0 1rem;
    }
  }

  &-nav-panel__item:last-child {
    margin-right: 0;
  }

  &-logo {
    color: $brand-color;
    text-transform: uppercase;
    transition: all 0.2s;
    @include on-event {
      transform: translateY(-0.2rem);
    }
    @include respond(regular-desktop) {
      margin: 0 0.5rem;
    }
  }

  &-wrapper__item {
    margin-right: 4.5rem;
    transition: all 0.2s;
    @include on-event {
      text-decoration: underline;
    }
    @include respond(regular-desktop) {
      margin: 0 0.5rem;
    }
  }
}




