// -----------------------------------------------------------------------------
// This file contains all styles related to the online-control-section of the site/application.
// -----------------------------------------------------------------------------

.online-control {
  background: rgb(19, 19, 19);
  background: linear-gradient(180deg, rgba(19, 19, 19, 1) 35%, rgba(255, 255, 255, 1) 35%);
  @include respond(small-tablets) {
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 20%, rgba(255, 255, 255, 1) 20%);
  }
  @include respond(small-phone) {
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 97%, rgba(255, 255, 255, 1) 97%);
  }

  &-wrapper {
    &_item {
      position: relative;

      &__icon {
        margin: 0 auto;
        display: block;
      }

      &__video {
        display: block;
        width: 81.7rem;
        height: 43.4rem;
        background-image: url('../uploads/video-bg-pic.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 3rem auto;
        @include respond(big-tablets) {
          width: 60rem;
        }
        @include respond(small-tablets) {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__text {
      color: $dark-grey;
      font-size: 128.6%;
      line-height: 3.7rem;
      text-align: center;
      max-width: 64.5rem;
      margin: 0 auto 9rem auto;
      @include respond(small-tablets) {
        margin: 0 auto 2rem auto;
      }
      @include respond(small-phone) {
        color: $text-color;
        font-size: 78.6%;
      }

      &::before {
        content: ' ';
        width: 5.5rem;
        height: 0.15rem;
        display: block;
        background-color: $brand-color;
        margin: 6rem auto 3.4rem auto;
      }
    }

    &-form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 20rem;
      flex-wrap: wrap;
      position: relative;
      @include respond(small-tablets) {
        padding: 0 2rem;
      }
      @include respond(small-phone) {
        padding: 0;
        margin-top: 5rem;
      }

      &_item {
        display: flex;
        flex-direction: column;
        @include respond(regular-desktop) {
          margin-bottom: 3rem;
        }
        @include respond(small-phone) {
          margin-bottom: 1rem;
        }

        &__label {
          color: $light-grey;
          height: 2.8rem;
          @include respond(small-phone) {
            color: rgba(255, 255, 255, 0.5);
          }
        }

        &__label:last-child {
          color: $black;
          @include respond(small-phone) {
            color: $text-color;
            margin-bottom: 8rem;
          }

          &::before {
            content: '';
            display: inline-block;
            width: 1.8rem;
            height: 1.8rem;
            background-image: url('../img/checkbox-off.svg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 0.8rem;
          }
        }

        &__input {
          color: $dark-grey;
          border: none;
          width: 23rem;
          border-bottom: 0.1rem solid rgba(54, 54, 54, 0.3);
          @include respond(small-phone) {
            background-color: rgba(19, 19, 19, 1);
            border-bottom: 0.1rem solid $text-color;
            width: 34rem;
            @include placeholder {
              color: $text-color;
            }
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }

        &__input:focus {
          border-bottom: 0.1rem solid $brand-color;
        }

        &__input-check {
          display: none;

          &:checked + .online-control-wrapper-form_item__label:last-child::before {
            width: 1.8rem;
            height: 1.8rem;
            background-image: url('../img/checkbox-in.svg');
          }
        }
      }

      &_item:last-child {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 0 0 0;
      }
    }
  }
}

*:focus {
  outline: none;
}
