// -----------------------------------------------------------------------------
// This file contains all styles related to the our-clients of the site/application.
// -----------------------------------------------------------------------------

.our-clients {
  margin-top: 14rem;

  &__title {
    color: $black;
  }

  &__icon {
    display: block;
    margin: 0 auto;
  }

  &__text {
    font-size: 128.6%;
    color: $dark-grey;
    text-align: center;
    width: 30%;
    margin: 2.3rem auto 3.9rem auto;
    line-height: 2.9rem;
  }

  &-wrapper {
    display: flex;
    justify-content: space-around;

    &_item {
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.04);
      padding: 2.6rem;
      width: 31%;
      position: relative;

      &__title-block {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        &__pic {
          margin-right: 2rem;
        }
      }

      &__main-text {
        font-size: 92.9%;
        color: $mid-grey;
        margin-bottom: 5rem;
      }
    }
  }
}