// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// use in Header
.navbar-wrapper__btn {
  background-color: $brand-color;
  border: 0.1rem solid $brand-color;
  color: $text-color;
  text-transform: uppercase;
  padding: 1.2rem 3.4rem;
  cursor: pointer;
  transition: all 0.2s;
  font-style: italic;
  @include on-event {
    background-color: #131313;
    color: $brand-color
  }
  @include respond(big-tablets) {
    padding: 1.2rem 2rem;
    margin-left: 0.2rem;
  }
}

// use in main-section
.main-wrapper__btn {
  text-transform: uppercase;
  border: 0.1rem solid $brand-color;
  width: 20.7rem;
  height: 5.1rem;
  margin-right: 2rem;
  color: $text-color;
  font-size: 78.6%;
  line-height: 1.5rem;
  font-style: italic;
  cursor: pointer;
  @include respond(small-tablets) {
    margin-top: 2rem;
  }
  @include respond(small-phone) {
    width: 100%;
    margin-bottom: 2rem;
  }

  &.primary {
    background-color: $brand-color;
    transition: all 0.2s;
    @include on-event {
      background-color: rgb(0, 0, 0, 0);
    }
  }

  &.ghost {
    background-color: rgb(0, 0, 0, 0);
    border: 0.1rem solid $text-color;
    transition: all 0.2s;
    @include on-event {
      background-color: $brand-color;
      border: 0.1rem solid $brand-color;
    }
  }
}

//use in online-control section
.online-control-wrapper_item__btn {
  position: absolute;
  top: 32%;
  left: 44%;
  cursor: pointer;
  @include respond(small-tablets) {
    top: 23%;
    left: 34%;
  }
  @include respond(small-phone) {
    width: 3.7rem;
    height: 3.7rem;
    top: 30%;
    left: 45%;
  }
}

//use in form online-control
.online-control-wrapper-form_item__btn,
.any-question-form-wrapper__btn {
  width: 20rem;
  height: 5.1rem;
  border: 0.1rem solid $brand-color;
  color: $text-color;
  background-color: $brand-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 1.5rem rgba(227, 184, 115, 0.15);
  @include on-event {
    background-color: $text-color;
    color: $brand-color
  }
  @include respond(small-phone) {
    position: absolute;
    bottom: 0;
    width: 34rem;
  }
}

// use in types of repair
.types-of-repair-wrapper_item_text-content__btn {
  color: $text-color;
  background: $brand-color;
  width: 22.8rem;
  height: 5.4rem;
  text-transform: uppercase;
  border: 0.1rem solid $brand-color;
  box-shadow: 0.5rem 0.5rem 1rem rgba(227, 184, 115, 0.3);
  position: absolute;
  bottom: -7%;
  left: 0;
  cursor: pointer;
  transition: all 0.2s;
  @include on-event {
    background-color: $text-color;
    color: $brand-color
  }
}

// use in features section
.features-wrapper-item-form__btn {
  text-transform: uppercase;
  width: 21.3rem;
  height: 5.1rem;
  color: $text-color;
  border: 0.1rem solid $brand-color;
  background-color: $brand-color;
  cursor: pointer;
  margin: 3.9rem 0 2.7rem auto;
  transition: all 0.2s;
  @include on-event {
    background-color: rgb(0, 0, 0, 0);
    color: $brand-color
  }
}

//use in our-clients section
.our-clients-wrapper_item__btn {
  width: 29.3rem;
  height: 5.4rem;
  background-color: $brand-color;
  border: 0.1rem solid $brand-color;
  box-shadow: 0.5rem 0.5rem 2rem rgba(227, 184, 115, 0.5);
  text-transform: uppercase;
  color: $text-color;
  font: normal 121.4% / 2.4rem $title-font-stack;
  cursor: pointer;
  background-image: url('../img/divider.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  position: absolute;
  left: 0;

  &-left {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      background-image: url('../img/metrics-ic.svg');
      margin-right: 1rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    margin-left: 4.3rem;

    &::before {
      content: '';
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      background-image: url('../img/calendar-ic.svg');
      margin-right: 1rem;
    }
  }

  @include on-event {
    background-color: #c99036;
  }
}